<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
        }
        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 5px;
        }
        .header {
            text-align: center;
            background: #f4f4f4;
            padding: 10px;
        }
        .content {
            margin: 20px 0;
        }
        .footer {
            text-align: center;
            font-size: 0.8em;
            color: #777;
        }
    </style>
</head>
    <body>
        <div class="container">
            <div class="header">
                <h1><%= title %></h1>
            </div>
            <div class="content">
                <p>Dear <%= name %>,</p>
                <p><%= message %></p>
                <p>To get started using Nice App, please confirm your account below:</p>
                <p>
                  <a href="<%= confirmation_url %>">Confirm you account</a>
                </p>
            </div>
            <div class="footer">
                <p>Best regards,<br><%= company_name %></p>
            </div>
        </div>

        